.hero-img img {
    max-height: 400px;
    object-fit: cover;
}


.img-category {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.frase-destacada {
    background-color: #007bff;
}

.img-comunidad {
    width: 100%;
    height: 100px; /* elegí el alto que más te guste */
    object-fit: cover;
    border-radius: 10px;
    display: block;
    
}

.receta-img {
    height: 230px;
    object-fit: cover;
}